.left_door{
	position: fixed;
	height: 100%;
	right: 50%;
}

.right_door{
	position: fixed;
	height: 100%;
	left: 50%;
}

.backImage{
	height: 100%;
	z-index: 10;
}

.open{
	position: fixed;
	&:hover{
		&~.left_door>.on_the_left_door{
			opacity: 0;
		}
	}
}

.on_the_left_door{
	width: 95%;
	height: auto;
	position: fixed;
	top: 2%;
	right: 2%;
	left: 2%;
	bottom: auto;
	z-index: 10;
	opacity: 0.8;
	color: #ddd;
	background-color: #222;
	&:after{
		padding-top: 0;
	}
}
.poster{
	z-index: 25;
	position: fixed;
	width:40%;
	height: auto;
	left: auto;
	right: 0;
	bottom: 2%;
	opacity: 0.8;

}

.in_door{
	height: 100%;
	width: auto;
}

.kanou{
	z-index: 50;
	position: absolute;
	margin: 0 auto;
	margin-top: 300%;
	height: 70%;
}

.first{
	display: none;
}

.next{
	z-index: 50;
	position: absolute;
	margin-top: 270%;
	width: 40%;
}

.in_door{
	display: none;
}